@charset "UTF-8";
* {
  /*Обращение ко всем тэгам на странице*/
  padding: 0;
  /*отступ от объекта до границы*/
  margin: 0;
  /*отступ от границы*/
  border: 0;
  /*граница*/
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

/*именение линий обводки*/
a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

/*изменение поведения тэгов на блочные*/
html, body {
  /*Уравнивает поведение шрифтов и элементов для разных браузеров*/
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

/*наследование семейства шрифтов*/
input::-ms-clear {
  display: none;
}

/*снятие браузерных стилей для элементов*/
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*Обнуление параметров заголовков*/
body {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  background-color: #121542;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.person__logo {
  text-align: left;
  color: #FF0C6A;
  font-weight: bold;
}
.person__fullname {
  text-align: left;
  color: white;
  font-weight: bold;
}
.person__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.person__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.person__box_t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.person__skills {
  text-align: left;
  color: white;
  font-weight: bold;
}
.person__wish {
  text-align: left;
  color: white;
  font-weight: bold;
}
.person__wish_s {
  text-align: left;
  color: white;
  font-weight: bold;
}
.person__check {
  background-color: white;
  color: black;
  -webkit-transition: 1s;
  transition: 1s;
}
.person__check:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.5rem rgba(158, 158, 158, 0.25);
          box-shadow: 0 0 0 0.5rem rgba(158, 158, 158, 0.25);
}
.person__select {
  background-color: white;
  color: black;
  -webkit-transition: 1s;
  transition: 1s;
  text-align: center;
}
.person__select::-webkit-scrollbar {
  background-color: #a28ed7;
  width: 10px;
  border-radius: 10px;
  margin-left: 84px;
}
.person__select::-webkit-scrollbar-thumb {
  background-color: #9157aa;
  border-radius: 25px;
  margin-left: 84px;
}
.person__select:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.5rem rgba(158, 158, 158, 0.25);
          box-shadow: 0 0 0 0.5rem rgba(158, 158, 158, 0.25);
}
.person__select_l {
  text-align: center;
}
.person__select_l:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.5rem rgba(158, 158, 158, 0.25);
          box-shadow: 0 0 0 0.5rem rgba(158, 158, 158, 0.25);
}
.person__button {
  background-color: #17D686;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}
.person__button_r {
  background-color: #E9E122;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.person__button:active {
  border-color: #bdbdbd;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.5rem #FF0C6A;
          box-shadow: 0 0 0 0.5rem #FF0C6A;
}

.person__button_r:active {
  border-color: #bdbdbd;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.5rem #17D686;
          box-shadow: 0 0 0 0.5rem #17D686;
}

.person__check:focus {
  background-color: white;
  color: #FF0C6A;
  margin: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (min-width: 1200px) {
  .person {
    max-width: 960px;
  }
  .person__logo {
    font-size: 48px;
    margin-top: 120px;
    margin-bottom: 90px;
  }
  .person__fullname {
    font-size: 33px;
    margin-bottom: 28px;
  }
  .person__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .person__box {
    margin-bottom: 28px;
  }
  .person__box_t {
    margin-bottom: 28px;
  }
  .person__skills {
    font-size: 22px;
    margin-right: 28px;
  }
  .person__wish {
    font-size: 22px;
    margin-right: 28px;
  }
  .person__wish_s {
    font-size: 22px;
    margin-bottom: 28px;
  }
  .person__check {
    width: 45px;
    height: 45px;
  }
  .person__select_e {
    width: 240px;
    height: 45px;
    border-radius: 11.25px;
    font-size: 22px;
    padding: 8px;
  }
  .person__select_e option {
    font-size: 22px;
  }
  .person__select {
    width: 240px;
    height: 112.5px;
    border-radius: 11.25px;
    font-size: 22px;
    padding: 2px;
  }
  .person__select option {
    font-size: 22px;
  }
  .person__select_l {
    width: 120px;
    height: 45px;
    border-radius: 11.25px;
    font-size: 22px;
    padding: 2px;
    margin-right: 28px;
  }
  .person__select_l option {
    font-size: 22px;
  }
  .person__information {
    width: 480px;
    height: 180px;
    border-radius: 22.5px;
    font-size: 22px;
    padding: 10px;
  }
  .person__button {
    width: 226px;
    height: 45px;
    border-radius: 45px;
    font-size: 22px;
    margin-right: 28px;
  }
  .person__button_r {
    width: 226px;
    height: 45px;
    border-radius: 45px;
    font-size: 22px;
  }
  .person__verification {
    margin-bottom: 28px;
  }
}
@media (min-width: 960px) and (max-width: 1199px) {
  .person {
    max-width: 720px;
  }
  .person__logo {
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 75px;
  }
  .person__fullname {
    font-size: 27.5px;
    margin-bottom: 23.3333333333px;
  }
  .person__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .person__box {
    margin-bottom: 23.3333333333px;
  }
  .person__box_t {
    margin-bottom: 23.3333333333px;
  }
  .person__skills {
    font-size: 20px;
    margin-right: 23.3333333333px;
  }
  .person__wish {
    font-size: 20px;
    margin-right: 23.3333333333px;
  }
  .person__wish_s {
    font-size: 20px;
    margin-bottom: 23.3333333333px;
  }
  .person__check {
    width: 37.5px;
    height: 37.5px;
  }
  .person__select_e {
    width: 200px;
    height: 37.5px;
    border-radius: 37.5px;
    font-size: 20px;
    padding-left: 6.6666666667px;
  }
  .person__select_e option {
    font-size: 20px;
  }
  .person__select {
    width: 200px;
    height: 93.75px;
    border-radius: 9.375px;
    font-size: 20px;
    padding: 1.6666666667px;
  }
  .person__select option {
    font-size: 20px;
  }
  .person__select_l {
    width: 100px;
    height: 37.5px;
    border-radius: 37.5px;
    font-size: 20px;
    padding: 1.6666666667px;
    margin-right: 23.3333333333px;
  }
  .person__select_l option {
    font-size: 20px;
  }
  .person__information {
    width: 400px;
    height: 150px;
    border-radius: 18.75px;
    font-size: 20px;
    padding: 8.3333333333px;
  }
  .person__button {
    width: 188.3333333333px;
    height: 37.5px;
    border-radius: 37.5px;
    font-size: 20px;
    margin-right: 23.3333333333px;
  }
  .person__button_r {
    width: 188.3333333333px;
    height: 37.5px;
    border-radius: 37.5px;
    font-size: 20px;
  }
  .person__verification {
    margin-bottom: 23.3333333333px;
  }
}
@media (min-width: 360px) and (max-width: 959px) {
  .person {
    max-width: 720px;
  }
  .person__logo {
    font-size: 36px;
    margin-top: 75px;
    margin-bottom: 56.25px;
  }
  .person__fullname {
    font-size: 14.0625px;
    margin-bottom: 17.5px;
  }
  .person__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .person__box {
    margin-bottom: 17.5px;
  }
  .person__box_t {
    margin-bottom: 17.5px;
  }
  .person__skills {
    font-size: 15px;
    margin-right: 17.5px;
  }
  .person__wish {
    font-size: 15px;
    margin-right: 17.5px;
  }
  .person__wish_s {
    font-size: 15px;
    margin-bottom: 17.5px;
  }
  .person__check {
    width: 28.125px;
    height: 28.125px;
  }
  .person__select_e {
    width: 150px;
    height: 28.125px;
    border-radius: 28.125px;
    font-size: 15px;
    padding: 5px;
  }
  .person__select_e option {
    font-size: 15px;
  }
  .person__select {
    width: 150px;
    height: 70.3125px;
    border-radius: 7.03125px;
    font-size: 15px;
    padding: 1.25px;
  }
  .person__select option {
    font-size: 15px;
  }
  .person__select_l {
    width: 75px;
    height: 28.125px;
    border-radius: 28.125px;
    font-size: 15px;
    padding: 1.25px;
    margin-right: 17.5px;
  }
  .person__select_l option {
    font-size: 15px;
  }
  .person__information {
    width: 300px;
    height: 112.5px;
    border-radius: 14.0625px;
    font-size: 15px;
    padding: 6.25px;
  }
  .person__button {
    width: 141.25px;
    height: 28.125px;
    border-radius: 28.125px;
    font-size: 20px;
    margin-right: 17.5px;
  }
  .person__button_r {
    width: 141.25px;
    height: 28.125px;
    border-radius: 28.125px;
    font-size: 15px;
  }
  .person__verification {
    margin-bottom: 17.5px;
  }
}